%nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#main-nav", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Brand', root_path, class: "navbar-brand"

    #main-nav.collapse.navbar-collapse
      %ul{:class => "nav navbar-nav"}
        - @visible_links.each do |link|
          %li= link_to link.name, link.url
      %ul{:class => "nav navbar-nav navbar-right"}
        %li= link_to 'Menu Builder', links_path
        %li= link_to 'Sections', sections_path